@font-face {
	font-family:"bombardier";
	/* Install or place BOMBARD_.woff in the same folder as this file to load the font locally */
	src: local('Bombardier'), url('BOMBARD_.woff') format('woff');
	src: url("https://api.allorigins.win/raw?url=https://candyfonts.com/wp-data/2019/08/07/72363/BOMBARD_.ttf") format("truetype");
}

p {
	margin: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: Bombardier;
	text-shadow: 1px 1px black;
	font-size: 1.2em;
	background-image: linear-gradient(170deg, #7d7c8f, #405060);
	background-attachment: fixed;
	color: white;
	padding-bottom: 200px;
}

header {
	margin-left: 25px;
	max-width: 70ch;
}

header p {
	margin-bottom: 1rem;
}

main {
	padding: 25px;
}

main > fieldset {
	margin-bottom: 10px;
}

.load {
	display: flex;
	width: fit-content;
}

.load fieldset {
	display: flex;
	flex-direction: column;
	border-color: #aaa;
	max-width: 300px;
}

/* Not sure why fit-content respects left but not right */
.load fieldset:last-child {
	margin-right: 20px;
}

._merge {
	margin-top: 1em;
}

.doc {
	font-size: 0.8rem;
	font-family: sans-serif;
	text-shadow: none;
	margin-top: 5px;
	max-width: 70ch;
}

.docs section {
	padding: 5px;
	margin: 5px;
	border: 1px solid #999;
	background: #444;
	box-shadow: 2px 2px 8px #222;
	color: #eee;
	font-family: sans-serif;
	padding: 0 20px;
	font-size: .9em;
	line-height: 1.2em;
}

.docs summary {
	color: #9ce562;
	text-decoration: underline;
	cursor: pointer;
}

.docs strong {
	color: #95cde5;
}

.docs li {
	margin-bottom: .5ch;
}

.docs dt {
	font-weight: bold;
}

.docs dd {
	margin-bottom: 1ch;
}

.small {
	font-size: 0.8em;
}

.waiting .hide-before,
.ready .hide-after {
	display: none;
}

.waiting .fade-before,
.ready .fade-after {
	opacity: 0.5;
}

.bold {
	font-weight: bold;
}

input[type=file] {
	font-size: 1rem;
}

.start {
	font-family: Bombardier;
	color: #9ce562;
	font-size: 1.2em;
	padding: 4px;
	font-weight: normal;
	margin-top: -4px;
	margin-bottom: 4px;
}

label {
	display: inline-block;
	white-space: nowrap;
	border: 1px outset #ccc;
	padding: 1px 3px;
	user-select: none;
}

label input[type=text] {
	user-select: text;
}

label:hover {
	border-color: #9ce562;
}

._pickup {
	margin: 5px 0 0 0;
}

.export {
	display: flex;
}

.export button {
	padding: 5px 10px;
	margin: 10px;
	font-size: 1rem;
}

.export-patch {
	box-shadow: 0 0 2px 2px #9ce562;
}

.palette {
	padding: 5px;
	margin: 5px;
	border: 1px solid #999;
	background: #444;
	box-shadow: 2px 2px 8px #222;
}

.palette span {
	margin-right: 5px;
}

.palette .doc {
	color: #aaa;
	margin-left: 10px;
	max-width: none;
}

.palette .doc :not(a) {
	margin-right: 0;
	font-family: bombardier;
	font-size: 1rem;
}

.palette a:link, .palette a:visited {
	color: #95cde5;
}

.replacements {
	margin: 15px 0;
}

.replacements dd {
	display: flex;
	gap: 20px;
}

.replacements textarea {
	width: 100%;
	border: none;
	padding: 5px;
	background-color: #353535;
	color: #bbb;
	/* box-shadow: 2px 2px 8px #222; */
}

.preview {
	padding: 12px;
	border: 2px solid #777;
	background: #444;
	/* box-shadow: 2px 2px 8px #222; */
	white-space: pre-wrap;
	/* Approximately 99ch */
	max-width: 947px;
}

.lang-file {
	margin-top: 25px;
}

.lang-file[open]:not(.all-hidden) {
	margin-bottom: 100px;
}

.all-hidden {
	color: #aaa;
}

.all-hidden + .all-hidden {
	margin-top: 5px;
}

.all-hidden h2 {
	margin: 0;
}

summary h2 {
	display: inline;
	padding: 2px;
}

summary .count {
	margin-left: 1ch;
}

summary:hover {
	cursor: pointer;
}

summary:hover h2 {
	background-color: #fff3;
	border-radius: 5px;
}

.pair .preview,
.pair .edit {
	margin-left: 40px;
}

.pair .edit {
	padding-left: 2px;
	padding-right: 2px;
}

.pair {
	margin-bottom: 10px;
}

.pair .key,
.pair .base-name {
	display: inline-block;
}

.pair .base-name {
	font-style: italic;
	color: #ccc;
	margin-left: 1em;
}

.pair .base {
	margin-top: 10px;
	margin-left: 40px;
	display: none;
}

body.show-base .pair.modified .base {
	display: flex;
}

.pair .base-preview {
	margin-left: 0;
	box-shadow: none;
	border: none;
	border-radius: 10px 10px 0 0;
}

.revert {
	width: 40px;
	display: flex;
	margin-right: 5px;
}

.base-raw,
.edit-value {
	font-family: monospace;
	color: #bbb;
	background-color: #353535;
	padding: 5px;
	font-size: .8rem;
}

.base-raw {
	max-width: 947px;
	white-space: pre-wrap;
	text-shadow: initial;
	border-radius: 0 0 10px 10px;
}

.edit-value {
	/* box-shadow: 2px 2px 8px #222; */
	/* 4px narrower than preview and raw to account for preview's borders */
	max-width: 943px;
	border: none;
	width: 100%;
	overflow-y: hidden;
}

.modified .preview:not(.base-preview) {
	border-color: #9ce562;
}

.hide-unmodified .pair:not(.modified) {
	display: none;
}

.hidden {
	display: none;
}

span.sprite {
	border: 1px solid #e5c962;
	font-family: monospace;
	font-size: 0.7em;
	padding: 2px 4px;
}

#TEST {
	margin-top: 40px;
}

.cIsHealth {
	color: #e58262;
}

.cIsDamage {
	color: #e5c962;
}

.cIsHealing {
	color: #9ce562;
}

.cIsUtility {
	color: #95cde5;
}

.cIsVoid {
	color: #DD7AC6;
}

.cStack {
	color: #8990a7;
}

.cWorldEvent {
	color: #ffc9f5;
}

.cArtifact {
	color: #8a5bc0;
}

.cUserSetting {
	color: #ffffd0;
}

.cDeath {
	color: #fe7c7c;
}

.cSub {
	color: #ccd3e0;
}

.cMono {
	color: #8990a7;
	letter-spacing: .5em;
	line-height: 1.3em;
}

.cShrine {
	color: #efeb1c;
}

.cEvent {
	color: #8394b3;
}

.cHumanObjective {
	color: #e4ef82;	
}

.cLunarObjective {
	color: #b2b8ee;	
}
